Package: ashoka
Version: 2020-11-23
Section: net
Priority: optional
Depends: libpq5, libsqlite3-0, libmysqlclient21, libssl1.1, openssh-client, rsync
Suggests: 
Architecture: amd64
Installed-Size: 66666
Maintainer: Jeremy Zheng
Provides: saturn-xiv
Description: https://github.com/saturn-xiv/ashoka

